<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>LEAVE A COMMENT</h4>
        <p>You can leave comment using this form </p>

        <form>
            <div class="form-group mb-2">
                <label for="" class="mb-1">Name</label>
                <input type="'text" class="form-control shadow-effect" placeholder="Enter Your Name here">
            </div>
            <div class="form-group mb-2">
                <label for="" class="mb-1">Comment</label>
                <textarea cols="30" rows="10" class="form-control shadow-effect" placeholder="Add your comment here"></textarea>
            </div>
            <button class="btn btn-info btn-theme">Add a comment</button>
        </form>
    </div>
</div>