<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 100,567 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - SEP, 2023 </small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat similique distinctio repellat vero debitis? Quibusdam et necessitatibus, esse doloribus sit commodi minus fugit autem eligendi dicta totam voluptas earum soluta.</p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>